<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated markingmate -->
      <package
            uri="markingmate"
            class="io.dimitris.markingmate.MarkingmatePackage"
            genModel="markingmate.genmodel"/>
   </extension>

</plugin>
